{% extends 'home/base_home.html' %}
{% load static %}

{% block title %}
   
{% endblock title %}


{% block content %}
{% include 'includes/header.html' %}
<h1>Construcciones escolares</h1>
<p>Nos encargamos de efectuar el relevamiento del estado físico de los locales escolares y del requerimiento de dotación de mobiliario. Participar conjuntamente con la Secretaría de Estado de Educación en la denominación de las obras a realizar y en la asignación de prioridades de las mismas. </p>


{% endblock content %}
    
    