body{
    background-image: linear-gradient(rgba(255,255,255,.1),rgba(34,40,49,1)),url(../img/ce.jpeg) ;
    width: 100%;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.header , body{
    font-family: 'Karla', sans-serif;
    font-size: x-large;
    color: black;
}