 /*
body{
    background-image: url(../img/CE.png) ; 
    background-position-x: center;
    background-size: 1700px 600px;

    background-repeat: no-repeat;
   min-height: 100vh;
    
    background-size: cover;
    background-attachment: fixed;}*/




.header , body{
    font-family: 'Karla', sans-serif;
    font-size: x-large;
    color: black;
}