{% load static %}

<header>
  <link rel="stylesheet" href=" {% static 'css/app.css' %} ">
  <link href="{% static  '/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
   
    <a class="navbar-brand" href="#"> <img id="img" src=" {% static 'img/CE.png' %}" style="width: 400px; height: 120px;" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href=" {% url 'home_app:index' %} ">Inicio<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Departamentos
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Estudio y proyecto</a>
            <a class="dropdown-item" href="#">Obras por contrato</a>
            <a class="dropdown-item" href="#">Obras por administracion</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Proyectos
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href=" {% url 'prueba_app:uploadurl' %} "><i class="fas fa-plus"> </i>Nuevo </i></a>
            <a class="dropdown-item" href="#">En ejecucion</a>
            <a class="dropdown-item" href="#">Realizados</a>
            <a class="dropdown-item" href="#">A futuro</a>
            <a class="dropdown-item">Varios</a>
            <a class="dropdown-item" href="{% url 'prueba_app:listaarchivos' %} ">Todos</a>
          </div>
        </li>
        <li class="nav-item"> 
          <a class="nav-link" href="{% url 'emergencias_app:crear_emer' %}  ">Contacto</a>
        </li>
        <li class="nav-item">
         
        </li>
   
      </ul>
      
    </div>

{% if user.is_authenticated %}

<li class="nav-item" style="list-style: none; margin-right: 8px; ">Usuario - {{user.full_name}}</li>
<li class="nav-item" style="list-style: none; margin-right: 5px; "><a href=" {% url 'users_app:user-logout' %} " class="btn btn-primary">Salir</a></li>

{% else%}
<button >hola</button>

{% endif %}
  

   
  </nav>

</header>


<!-- <div class="bg-secondary">
      <div class="container">
          <nav class="navbar navbar-expand-lg navbar-light">
           
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav w-100 justify-content-center">
                  <li class="nav-item active">
                   
                    <a class="nav-link" href="{% url 'home_app:index' %}">Home<span class="sr-only">(current)</span></a>
                     
                    
                  </li>
                  <li class="nav-item active">
                    {% if user.is_superuser %}
                    <a class="nav-link" href="{% url 'depto_app:deptos' %}">Departamentos</a>
                      {% endif %}
                    
                  </li>
                  {% if not user.is_anonymous and not user.is_superuser %}
                  <li class="nav-item active">
                  
                    <a class="nav-link" href="{% url 'emergencias_app:crear_emer' %}">Informar</a>  </li>
                  
                    <a href="nav-link" >Subir un plano</a>
                    {% endif %}

                    {% if user.is_superuser %}
                    <li class="nav-item active">
                      <a class="nav-link" href="{% url 'emergencias_app:lista_emer' %}">Emergencias</a>
                    </li>
                     
               
                      <li class="nav-item active" >
                      <a class="nav-link" href="{% url 'publicacion_app:lista_pubs' %}">Planos</a>
                    </li>
                    {% endif %}
                    <li class="nav-item active">
                     
                     {% if user.is_anonymous %}
                     <a class="nav-link" href="{% url 'emergencias_app:lista_emer' %}">Contacto</a>
                     {% endif %}      
                     
                    </li>
                  
                  </li>
                  <li class="nav-item active">
                   {% if not user.is_anonymous %}
                   <a class="nav-link" href="{% url 'users_app:user-logout' %}">{{user}} - Salir</a>
                   {% else %}
                   <a class="nav-link" href="{% url 'users_app:user-login' %}">Iniciar sesion</a>
                   
                   {% endif %}
                  
                 </li >
                <li class="nav-item active">
                  {% if user.is_anonymous %}
                  <a class="nav-link" href="{% url 'users_app:user-register' %}">Registrarse</a>
                  {% endif %}
                </li>
                
                
                </ul>
              </div>
            </nav>
      </div>
  </div>-->
<!--<nav class="navbar navbar-expand-lg navbar-light bg-primary " >
    <a class="navbar-brand" href="#">Construcciones escolares </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse align-items-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          {% if user.is_superuser %}
          <a class="nav-link" href="{% url 'depto_app:deptos' %}">Departamentos<span class="sr-only">(current)</span></a>
            {% endif %}
          
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="{% url 'emergencias_app:crear_emer' %}">Informar una emergencia</a>
          <li class="nav-item">
            {% if user.is_superuser %}
            <a class="nav-link" href="{% url 'emergencias_app:lista_emer' %}">Emergencias</a>
              {% endif %}
           
          </li>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
    </div>
  </nav>
  
    <div class="text-header d-flex align-item-center">
      <div class="container" id="texto">
          <div class="row">
  <div class="col-sm-8">
      <h2>Construcciones escolares </h2>
      <p>Encargados de efectuar el relevamiento del estado físico de los locales escolares y del requerimiento de dotación de mobiliario. Participar conjuntamente con la Secretaría de Estado de Educación en la denominación de las obras a realizar y en la asignación de prioridades de las mismas. Elaborar el plan de trabajo del organismo, de conformidad a las directivas emitidas por el Ministerio de Economía en coordinación con la Secretaría de Estado de Educación. Confeccionar la documentación técnica pertinente para la ejecución de obras. Ejecutar obras por administración con o sin participación comunitaria y llamar a licitación para la contratación de obras. Efectuar el mantenimiento de la infraestructura escolar. Realizar estudios de proyecciones a corto, mediano y largo plazo sobre las futuras necesidades de edificios escolares, en función del crecimiento de la población escolar.</p>
      <a href="" class="btn btn-yo"><span>mas datos</span></a>
  </div>
          </div>

      </div>
  </div>
  
  
  
  --->

