{% extends 'publicacion/base_pub.html' %}
{% load static %}


{% block content %}
  
{% include 'includes/header.html' %}
<div class="container" style="align-items: center; margin-top: 3rem;" >
  <form action="" method="post" enctype="multipart/form-data"> {% csrf_token %}
    <h3 class="h3">Subir nuevo archivo</h2>
    <p>
      <label for="id_nombre">Nombre</label>
      <input class="input" type="text" maxlength="30" required name="nombre" id="nombre" placeholder="escriba un nombre">

    </p>
    <p>
      <label for="id_archivo">Archivo</label>
      <input class="input" type="file" name="archivo" id="id_archivo">
    </p>
   
      <button class="btn btn-primary" type="submit">Guardar</button>
  </form>
</div>

<!--{% if user.is_authenticated %}
  <h1>bienvenido:</h1>
  {{user}}
    {% endif %}


    {% if user.is_superuser %}
  <p>eres super usuario</p>
    {% endif %}
<a href="{% url  'users_app:user-logout' %}" id="fuente" class="button" >CERRAR SESION</a>
--->

  

{% include 'includes/footer.html' %}
{% endblock content %}