{% extends 'archivos/base_archivos.html' %}

{% block title %}
   
{% endblock title %}
<title>Document</title>
{% block content %}
{% include 'includes/header.html' %}
<div class="container" style="margin-top: 5px;">
  
    <h2>Archivos añadidos</h2>
    
    
         
    <ul>
    {% for archivo in archivos %}
       
           <li>
            <a href="{{archivo.archivo.url}}">{{archivo}}</a>
           </li>
       
    {% endfor %}
    </ul>
</div>
{% endblock content %}


<!--  <form action="" method="GET"> {% csrf_token %}
        <input type="text " id="kword" name='kword' placeholder="ingrese nombre aqui">
    <button type="submit">buscar</button>
    </form>-->