{% extends 'users/base_users.html' %}
{% load static %}

{% block content %}

<section class="container-fluid bg">
  <section class="row justify-content-center">
    <section class="col-12 col-sm-6 col-ms-3">
      <form class="form-container" method="POST" > {% csrf_token %}
        <div class="form-group">
          <label for="exampleInputEmail1">Ingresa tu email</label>
          <input type="email" class="form-control" id="id_email" name='email' aria-describedby="emailHelp" placeholder="escribe tu email aqui">
  
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Contraseña</label>
          <input type="password" class="form-control" name="password" id="id_password" placeholder="escribe tu contraseña aqui">
        </div>
     
        <button type="submit" class="btn btn-primary btn-block">Ingresar</button>
      </form>
    </section>
  </section>
</section>


<!--<div class="container">
    <div class="align-items-center">
        <form class="" style="margin-top: 2em;" method="POST"> {% csrf_token %}
            <div class="" style="width: 100%;">
                <div class="">
                  <h4>Acceso de usuario</h4>
                </div>
                <div class="card-section">
                        <div class="">
                            <label>Email:
                       {{form.email}}
                            </label>
                        </div>
                        <div class="">
                            <label>Contraseña:
                         {{form.password}}
                            </label>
                        </div>
                        <button type="submit" class="cell button" id="fuente">Acceder</button>
                        <a class="btn-dark" id="fuente" href="{% url 'users_app:user-register'%}">Registrar</a>
                </div>
            </div>
        </form>
    </div>
    <div class="container m-5">
    <form method="POST"> {% csrf_token %}
        <div class="form-group">
          <label for="exampleInputEmail1">Email </label>
          <input type='text' name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Introduzca su email">
     
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Contraseña</label>
          <input type="password" class="form-control" name="password" id="id_password" placeholder="Contraseña">
        </div>
      
        <button type="submit" class="btn btn-dark">Entrar</button>
      </form>
</div>

</div>-->

{% include 'includes/footer.html' %} 

{% endblock content %}